<h2>Buscar Playlist</h2>

<form [formGroup]="searchForm" (ngSubmit)="buscar()" class="search-form">
  <label>Nombre de la playlist:</label>
  <input formControlName="nombre" placeholder="Ej: Rock clásico" />
  <button type="submit">Buscar</button>
</form>

<div *ngIf="playlistEncontrada" class="playlist-card">
  <h3>{{ playlistEncontrada.nombre }}</h3>
  <p><strong>Descripción:</strong> {{ playlistEncontrada.descripcion }}</p>

  <ul>
    <li *ngFor="let c of playlistEncontrada.canciones">
      🎵 <strong>{{ c.titulo }}</strong> - {{ c.artista }} ({{ c.album }},
      {{ c.anno }}) - {{ c.genero }}
    </li>
  </ul>

  <button (click)="eliminar(playlistEncontrada.nombre)">🗑 Eliminar</button>
</div>
