<h2>📋 Listado de playlists</h2>

<div *ngIf="playlists.length === 0">
  <p>No hay playlists registradas.</p>
</div>

<div *ngFor="let playlist of playlists" class="playlist-card">
  <h3>{{ playlist.nombre }}</h3>
  <p><strong>Descripción:</strong> {{ playlist.descripcion }}</p>

  <div *ngIf="playlist.canciones.length > 0">
    <h4>Canciones:</h4>
    <ul>
      <li *ngFor="let c of playlist.canciones">
        🎵 <strong>{{ c.titulo }}</strong> - {{ c.artista }} ({{ c.album }},
        {{ c.anno }}) - {{ c.genero }}
      </li>
    </ul>
  </div>
  <button (click)="eliminar(playlist.nombre)">Eliminar</button>
</div>
